# Frontend
VITE_API_BASE_URL=http://127.0.0.1:8000/api

# Slack OAuth
LUMEN_SLACK_CLIENT_ID=
LUMEN_SLACK_CLIENT_SECRET=
LUMEN_SLACK_REDIRECT_URI=

# Microsoft Teams / Microsoft Graph OAuth
LUMEN_MS_CLIENT_ID=
LUMEN_MS_CLIENT_SECRET=
LUMEN_MS_REDIRECT_URI=
